[submodule "torch-rnn"]
	path = torch-rnn
	url = https://github.com/jcjohnson/torch-rnn
[submodule "train_data/preprocess/trump_tweet_data_archive"]
	path = train_data/preprocess/trump_tweet_data_archive
	url = https://github.com/bpb27/trump_tweet_data_archive
